<a href="https://colab.research.google.com/github/agrawalkunal2/RossmannSalesPrediction/blob/main/Final_Capstone2_Kunal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Sales Prediction : Predicting sales of a major store chain Rossmann</u></b>

## <b> Problem Description </b>

### Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.

### You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.

## <b> Data Description </b>

### <b>Rossmann Stores Data.csv </b> - historical data including Sales
### <b>store.csv </b> - supplemental information about the stores


### <b><u>Data fields</u></b>
### Most of the fields are self-explanatory. The following are descriptions for those that aren't.

* #### Id - an Id that represents a (Store, Date) duple within the test set
* #### Store - a unique Id for each store
* #### Sales - the turnover for any given day (this is what you are predicting)
* #### Customers - the number of customers on a given day
* #### Open - an indicator for whether the store was open: 0 = closed, 1 = open
* #### StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
* #### SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools
* #### StoreType - differentiates between 4 different store models: a, b, c, d
* #### Assortment - describes an assortment level: a = basic, b = extra, c = extended
* #### CompetitionDistance - distance in meters to the nearest competitor store
* #### CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened
* #### Promo - indicates whether a store is running a promo on that day
* #### Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
* #### Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2
* #### PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('figure', figsize=(20.0, 6.0))
import scipy.stats as stats

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
path = "/content/drive/MyDrive/Colab Notebooks/Capstone 2/"
rossman_df = pd.read_csv(path+"Rossmann Stores Data.csv")
store_df = pd.read_csv(path+"store.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Looking at the data

In [5]:
rossman_df.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [6]:
rossman_df.tail()

         Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
1017204   1111          2  2013-01-01  ...      0             a              1
1017205   1112          2  2013-01-01  ...      0             a              1
1017206   1113          2  2013-01-01  ...      0             a              1
1017207   1114          2  2013-01-01  ...      0             a              1
1017208   1115          2  2013-01-01  ...      0             a              1

[5 rows x 9 columns]

As observed above it contains the information pertaining to the store for the each day. The information contained is Store No, Day of the week, each date, sales on the given day, customers available on that day, whether the store was open on that day, if the store was participating on promo on that day and lastly whether on that day there was any state or school holiday.
<BR>
During look at tai we can observe that for few records there is 0 entry in sales

We have been given information in our problem set that few stores were closed pertaining to refurbishment. Also, we know that if the store is closed, there is no point of keeping it in our dataset.
<BR>
Let's check for closed stores

In [7]:
len(rossman_df[rossman_df['Open']==0])

172817

In [8]:
# checking if there was any sales made on stores if it was closed. If both are same we can delete those observations from oour dataset
len(rossman_df[(rossman_df['Open']==0) & (rossman_df['Sales']==0)])

172817

In [9]:
# deleting the data having Store as closed
rossman_df = rossman_df[rossman_df['Open']==1]

In [10]:
rossman_df.Open.value_counts()

1    844392
Name: Open, dtype: int64

As we can see that Open variable only contains single value. Thus we can delete this column

In [11]:
# deleting Open
rossman_df.drop(labels='Open', axis=1,inplace=True)

In [12]:
store_df.head()

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

In [13]:
store_df.tail()

      Store StoreType  ... Promo2SinceYear     PromoInterval
1110   1111         a  ...          2013.0   Jan,Apr,Jul,Oct
1111   1112         c  ...             NaN               NaN
1112   1113         a  ...             NaN               NaN
1113   1114         a  ...             NaN               NaN
1114   1115         d  ...          2012.0  Mar,Jun,Sept,Dec

[5 rows x 10 columns]

As observed above, there are 1115 Rossmann stoes located and this data contains the geniric information about the store such as the type and assortment of the store, information pertaining to its competitors such as distance and the time from which the competition was open, whether the store us participating in any promo and the same is active from when and along with that the month cycle on which promo runs

In [14]:
rossman_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 844392 entries, 0 to 1017190
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Store          844392 non-null  int64
 1   DayOfWeek      844392 non-null  int64
 2   Date           844392 non-null  object
 3   Sales          844392 non-null  int64
 4   Customers      844392 non-null  int64
 5   Promo          844392 non-null  int64
 6   StateHoliday   844392 non-null  object
 7   SchoolHoliday  844392 non-null  int64
dtypes: int64(6), object(2)
memory usage: 58.0+ MB

As we can observe from above that there are no null values present in rossman_df ie the sales data. There are 6 numiric columns and 2 object columns

In [15]:
rossman_df.describe(include="all").transpose()

                count unique         top    freq  ...   25%   50%   75%    max
Store          844392    NaN         NaN     NaN  ...   280   558   837   1115
DayOfWeek      844392    NaN         NaN     NaN  ...     2     3     5      7
Date           844392    942  2015-06-09    1115  ...   NaN   NaN   NaN    NaN
Sales          844392    NaN         NaN     NaN  ...  4859  6369  8360  41551
Customers      844392    NaN         NaN     NaN  ...   519   676   893   7388
Promo          844392    NaN         NaN     NaN  ...     0     0     1      1
StateHoliday   844392      5           0  731342  ...   NaN   NaN   NaN    NaN
SchoolHoliday  844392    NaN         NaN     NaN  ...     0     0     0      1

[8 rows x 11 columns]